<h3 align="center">About Royale Challenge League</h3>
<h4>Welcome to the official RCL site!</h4>
<p>We are a brand new Clash Royale league server. We have two leagues, and 16 teams per league. These teams will battle it out to become champions. After two rounds, the bottom two teams are eliminated. You earn one point for a win, and zero points for a loss. After we find a champion of RCL 1 and RCL 2, there will be a match between both to see who gets the league title and rewards.</p>
<h4>How does this work?</h4>
<p>You will join a clan and fight in a 3v3. After every set one player must be subbed. This forces a team to have 5 good players. There are 3 sets.</p>
<h4>Need support?</h4>
<p>Contact us with any of the following methods<br/><br/><a href="https://twitter.com/OfficialRCL1">Our Twitter</a><br/>Email: rclroyalechallengeleague@gmail.com</p>
<h4>How do I signup?</h4>
<p><a href="/signup">Click this link.</a></p>
<h4>What's the reward?</h4>
<p>Each member of the winning team will be given a 5$ gift card of their choice (we're starting out small, hopefully looking for a sponsor.) to spend in Google Play or iTunes. </p>