<h1 align="center">Teams</h1>
<h3>RCL1 teams</h3>
<ul>
    <li>Darksiders</li>
    <li>Team Unified</li>
    <li>Classic Team </li>
    <li>Champions Legacy</li>
    <li>Mytex eSports</li>
    <li>Team Prime</li>
    <li>North Rebellion</li>
    <li>Nuclear Clashers</li>
    <li>Midwinter eSports</li>
    <li>Inbound eSports</li>
    <li>Team Boreal NA </li>
    <li>Oblivion</li>
    <li>Le'Boom</li>
    <li>Non Meta Musketeers</li>
    <li>iNReign Imperials</li>
    <li>Team Boreal</li>
    <li>RoyalFlush Aces</li>
    <li>Dynasty Gaming</li>
    <li>Electronik Generation</li>
    <li>SA eSports EU</li>
</ul>
<h3>RCL2 teams</h3>
<ul>
    <li>SA eSports Americas</li>
    <li>Notorious Black</li>
    <li>Raze eSports EU</li>
    <li>Royal Flush</li>
    <li>Sandstorm APAC</li>
    <li>iNfinite Reign</li>
    <li>iNReign</li>
    <li>Notorious EU</li>
    <li>UnderMayhem NA</li>
    <li>UnderMayhem EU</li>
    <li>RaZe Renegade</li>
    <li>RaZe eSports NA</li>
    <li>RaZe eSports APAC</li>
    <li>Galactic eSports Club</li>
    <li>Elite Rangers</li>
    <li>Vietnam Glory</li>
    <li>SA eSports APAC</li>
    <li>Aussie Royale eSports</li>
    <li>Nova | Pakistan</li>
</ul>

