<html>
    <head>
        <title>RCL | Signup</title>
        <link href="/static/css/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <h1>RCL Signups</h1>
        <form method="post" action="signup.php">
            Enter your team name: <input name="TeamName" type="text" />
            <br />
            Enter your team size: <input name="TeamSize" type="text" />
            <br />
            Enter your team members' Discord Usernames<br />
            separated with a comma<br />
            Example: AntonyJoseph03#8937, SharpBit#3618<br />
            <input name="Members" type="text" />
            <br />
            <input type="submit" value="Submit signup!" />
        </form>
    </body>
</html>
